body{
    
}
.orange-text{
    color: #E68B1F;
}

.footer {
    width: 100%;
    background-color: #0e58c7; /* Mã màu xanh giống trong ảnh */
    color: white;              /* Chữ màu trắng */
    padding: 30px 20px;        /* Tạo độ cao cho footer (Trên dưới 30px) */
    text-align: center;        /* Căn giữa toàn bộ nội dung */
    margin-top: 50px; 
    margin-left: 30px;         /* Tách biệt với nội dung phía trên */
}

.head-img-right p{
    margin-left: 25%;
    text-align: end;
    font-size: 80%;
}

.head-img-right img{
    width: 15%;
    margin-left: 200px;
    border-radius: 100px;
}

.head-img-left img{
    width: 22%;
    margin-bottom: 10px;
    margin-left: 30px
}

.all-dt{
    column-gap: 0;
}

.lf-dt{
    width: 40%;
    margin-left: 20%;
}

.rt-dt{
    width: 60%;
}


.lf-dt div{
    margin-left: 200px;
    background-color: #35dd17 ;
}

.navbar-inverse{
    background-color: #35dd17;
    color: white;
}

.nav a{
    color: white;
}

.new-prod h2{
    margin-left: 90px;
}

.new-prod img{
    width: 60%;
    margin-left: 30px;
}

.width{
    width: 125%;
    margin-right: 150px;
}

.bg-gr{
    background-color: #d7d5d5;
    text-align: center;
    font-size: 15px;
    height: 120px;
    margin-right: 5px;
}
.bg-gr h3{
    color: white;
}

.bg-gr p{
    color: #d8841d;
    font-size: 20px;
}

.imgs img{
    width: 70%;
}

.nd-img img{
    margin-left: 90px;
    width: 95%;
}

.st-img img{
    width: 110%;
    margin-top: 8px;
    margin-right: 40px;
}

.imgs{
    justify-content: space-between;
}


.table table{
    width: 115%;
    height: 130px;
    background-color: #e3dada;
    border: 1px #d7d5d5 solid;
    padding: 15%;
}

.table thead{
    border: 1px #d7d5d5 solid;
}

.table tr{
    border: 2px rgb(194, 190, 190) solid;
}

.style{
    height: 35px;
    border-right: 2px rgb(194, 190, 190) solid;
}

.white{
    background-color: rgb(253, 252, 252);
}

.table td{
    border-right: 2px rgb(194, 190, 190) solid;
}

@media (max-width: 768px) {
    body{
        margin: 0 auto;
        margin: 0 auto;
        margin-left: 0;
    }

    footer{
        width: 100%;
    }

    body img{
        width: 100%;
        margin: 0 auto;
    }

    body p{
        text-align: center;
    }
    .table{
        
    }

    .width{
            width: 100%;
    }
}


